<div class="mini-banner">
  <div class="container">
    <h1>Nueva pelicula</h1>
  </div>
</div>


<div class="container mt-3">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, label: "Selecciona una pelicula" %>
    <%= f.input :comment, label: "Comentario:" %>
    <%= f.submit value: "Añadir pelicula", class: "btn power-color" %>
  <% end %>
</div>
