<div class="container mt-3">
  <h1>New Bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, label: "Selecciona una pelicula" %>
    <%= f.input :comment, label: "Comentario:" %>
    <%= f.submit %>
  <% end %>
</div>
