<div class="navbar navbar-expand-sm navbar-dark nv-color navbar-lewagon sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bolder" href="/">
      <%= image_tag "popcorn-icon.png", style: "width: 45px" %> La Movie
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-link" href="/lists">Mis listas</a>
          <a class="nav-link" href="/lists/new">Nueva Lista</a>
          <a class="nav-link" href="/movies">Biblioteca</a>
          <%= link_to 'Cerrar Sesion', destroy_user_session_path, class: 'nav-link', method: 'delete' %>
        <% else %>
            <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
            <%= link_to "Iniciar sesion", new_user_session_path, class: "nav-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
